   
    body{
    background-color: #efefef;
    font-family: Arial;
    font-size: 12px;
}
div.Product{
    float: left;
    width: 240px;
    background-color: white;
}
div.Product a{
    float: left;
    width: 100%;
    text-align: center;
}
div.Product a.img{
    text-align: center;
    margin-top: 10px;
}
div.Product a.img img{
    height: 170px;
    max-width: 100%;
    border-bottom: transparent 5px solid;
    
}
div.Product a.name {
    font-weight: bolder;
    color: black;
    font-size: 13px;
    text-decoration: none;
    margin-top: 10px;
}
div.Product a.name:hover{
    color: red;
}
div.Product div{
    font-size: 18px;
    font-weight: bold;
    color: crimson;
    text-indent:10px;
    margin: 10px 0 10px 0;
    float: left;
    width: 100%;
}
div.Product a.cart{
    border: black 1px solid;
    background: black;
    line-height: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    
}
div.Product a.cart:hover{
    background-color: white;
    color: black;
}

div.products{
    width: 1000px;
    display: table;
    margin: auto;
}

div.products ul, div.products ul li{
    float: left;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
div.products ul li{
    
    width: 25%;
    margin-bottom: 10px;
}
div.products img {
    padding: 50px;
    background-color: transparent;
    transition: transform .2s;
}

div.products img:hover {
    transform: scale(1.5); 
}